<h2 class="centredText">Help & Information</h2>

<h4>What is Mathsmarker?</h4>

<p>
    Mathsmarker allows pupils to check their answers without actually giving them the answers. 
    This allows them to gain immediate feedback and proceed with some autonomy, rather than waiting for the teacher. 
    Mathsmarker is in fact a pair of distinct programmes which work together as a team: 
</p>
<ul>
    <li>Mathsmarker proper, or 'pupilside,' which allows pupils to try out their answers.</li>
    <li>Mathsmarker Teacherside, this programme, which allows teachers to enter the desired information into the database. </li>
</ul>
<p>
    The Mathsmarker programmes work in co-operation with a third programme, a MongoDB database.
    The database stores the information entered on the teacherside and makes it immediately available to the pupilside.
</p>
<p>
    Mathsmarker works well in the classroom. You may also find Mathsmarker useful for work at home, such as homework or work in quarantine.
</p>

<h4>What do I do first?</h4>

<p>
    First of all, you set a name for the overall user(s).
    You have probably already done that!
    Then you need to set up a group, and then a topic - it is as simple as giving them names!
    Then you are ready to create your first exercise.
</p>

<h4>How is Mathsmarker Teacherside used?</h4>
<p>
    It is hoped that users find the teacherside interface to be logical and self-explanatory. 
    Button labels and short notes explain what you can do at each stage and offer the option of going back.
</p>
<p>
    The overall principle is that question-and-answer data are entered in to the programme. These data are organised into exercises. 
    Exercises are grouped according to topic. Topics are grouped according to chosen teaching group, e.g. year group, class, set etc.
    It is hoped that pupils will know the name of their group and the topic!
</p>
<p>
    Mathsmarker is designed according to the idea that questions will be entered according to their 'name', e.g. (1), (2), (3), etc. or (a), (b), (c), etc.;
    However, there is adequate scope for experimentation, and short questions might be entered in their entirety if convenient.
</p>
<p>
    In the case that the correct answer is not offered to a given question, the teacher can set any response. 
    The default is '<small>✘</small>,' but the teacher can instead choose an alternative symbol, comment, or hint for any given question.
</p>
<p>
    In some cases there may be a variety of acceptable answers. 
    These can be entered on the teacherside with semi-colons, for example:
    <ul>
        <li>0.5; 1/2; half</li>
        <li>1/3; 2/6</li>
        <li>500 g; 500g; 0.5 kg; 0.5kg</li>
    </ul>
    In such cases, Mathsmarker is programmed to allow any answer from the set of acceptable answers given to it in this manner.
</p>

<h4>How are the data displayed?</h4>

<p>
    Teaching groups and topics are displayed alphabetically.
    The order of exercises within a given topic can be chosen by the teacher, by dragging and dropping them on the topic editing page.
    By default, exercises are displayed in order of creation. 
</p>
<p>
    The editing options offered by Mathsmarker Teacherside allow you to save your existing exercises into different topics and groups.
    If you share an exercise by saving its content <em>as a new exercise</em> in a different topic/group, 
    the new exercise will by default take its place at the end of the new topic's exercises.
</p>
<p>
    If, on the other hand, you <em>update</em> an exercise to become part of a different topic/group, 
    the topic has moved and it takes its place in its new topic according to both its original date of creation and the ordering of its previous topic. 
    You may wish to check whether you would like to move it into a particular place in the new topic's order.
</p>

<h4>How do I amend my basic account details?</h4>

<p>
    You need to log in as the administrator to amend the basic account details, 
    which are the account name, password, and administrator password. 
    When the administrator is looged in, there is an extra button displayed on the start menu.
    This button, labelled 'administrator options' in red text, leads to the appropriate page.
</p>

<h4>What happens to the data when I amend my basic account details?</h4>

<p>
    If you amend the basic account details, nothing else will be changed.
    Your groups, topics, and exercises will be unaffected, and you will be able to access them using your new account details.
</p>

<h4>Feedback</h4>

<p>
    If you have any problems or need any help, 
    please contact the creator so that the help page, or the programme itself, 
    can be improved.
</p>