<a href="/teachingGroups"><button type="button" class="btn">⇦ Back</button></a>

<h2 class="centredText">Create a New Teaching Group</h2>

<br><br>

<form action="/teachingGroups" method="POST" enctype="application/json; charset=UTF-8">

  <label class="centred">Name:</label>
  <br>
  <div class="centred">    
    <input type="text" name="name" class="widerInput" placeholder="e.g. Year 6, or 5AB">
  </div>
  <br><br>
  <div class="centred">
      <button type="submit" class="btn">Create new teaching group</button>
  </div>
  
</form>
